body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  
  .header {
    height: 100vh;
    background-color: #15d1d1;
    background-image: url(images/5f2dbe7b2f09026a3fa1a535d6b9a2e4.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .header-title {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin: auto;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
  }
  .content {
    font-size: 0;
    width: 790px;
    margin: 100px auto 50px auto;
    
  }
  .card {
    width: 350px;
   
    margin-bottom: 60px;
    padding: 45px 45px 70px 45px;
    box-shadow: 15px 13px 8px rgba(250, 50, 50, .4);
    display: inline-block;
      margin-right: 90px;
  }
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    
  }
  .card-text {
    font-size: 16px;
  }
  .card-image {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
  }
  .no-right-margin {
    margin-right: 0;
  }
  .footer {
    height: 300px;
    background-color: black;
    display: flex;
  }
  .footer-author {
    color: white;
    font-size: 24px;
    margin: auto;
  }